* {
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 1440px;
    min-height: 100vh;
}

h1, h2, h3 {
    display: block;
    line-height: 1;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 2rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 4;
    padding: .5rem;
    border: 2px solid black;
    gap: .5rem;
}

.inputs-block {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border: 2px solid black;
    border-radius: 5px;
    gap: 5px;
}

.inputs-block div label input {
    float: right;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

button {
    display: block;
    width: 100%;
}

.education-buttons,
.work-buttons {
    display: none;
}

.job-description-text-area {
    display: flex;
    justify-content: space-between;
}

#job-description {
    min-width: 50%;
    height: 3rem;
}

.main-display {
    grid-column: 4 / 11;
    background-color: whitesmoke;
    margin: .5rem;
    height: fit-content;
}

.general-info-display {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aquamarine;
}

.education-info-display,
.work-info-display {
    padding: 2.5rem;
}