@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    margin: auto;
    max-width: 1440px;
    min-height: 100vh;
}

h1, h2, h3 {
    display: block;
    line-height: 1;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 2rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 5;
    padding: .5rem;
    border: 2px solid black;
    gap: .5rem;
    height: fit-content;
}

.inputs-block {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    gap: 5px;
}

.inputs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-visibility {
    font-size: 18px;
    transition: .2s;
}

.toggle-visibility:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.input-component {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputs-block div label input {
    float: right;
    width: 50%;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

button {
    display: block;
    width: 100%;
}

.education-buttons,
.work-buttons {
    display: none;
}

.job-description-text-area {
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 75%;
    height: 4rem;
    resize: none;
}

.main-display {
    grid-column: 5 / 11;
}

.document-display {
    margin: 0 .5rem;
    height: auto;
    width: 100%;
    background-color: whitesmoke;
}

.general-info-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: aquamarine;
}

.education-info-display,
.work-info-display {
    padding: 1rem 2.5rem;
}